In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"E:\PYTHON\python Datasets\titanic.csv")

In [3]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [5]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
data.isnull().mean()*100

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

1. There are 15 columns and 891 Rows.
2. 4 columns have missing values(age,embarked,deck,embark_town).
3. there are 8 Categorical,4 numerical and 3 boolean variable.
4. deck 77% data is missing. so we can remove that column.

In [7]:
data.drop('deck',axis=True,inplace=True)

In [8]:
data.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,Southampton,no,False

In [9]:
data.isnull().mean()*100

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

In [10]:
data.who.unique()

array(['man', 'woman', 'child'], dtype=object)

In [11]:
# data['age'] = data.groupby('who').age.transform(lambda x: x.fillna(x.mean()))

In [12]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

In [13]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

In [14]:
data.embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [15]:
data.embarked.fillna(data.embarked.mode,inplace=True)

In [16]:
data.embark_town.fillna(data.embark_town.mode,inplace=True)

In [17]:
data.isnull().mean()*100

survived        0.00000
pclass          0.00000
sex             0.00000
age            19.86532
sibsp           0.00000
parch           0.00000
fare            0.00000
embarked        0.00000
class           0.00000
who             0.00000
adult_male      0.00000
embark_town     0.00000
alive           0.00000
alone           0.00000
dtype: float64

In [18]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

In [19]:
y=data.survived
x=data[['pclass','sex','sibsp','parch','embarked','class','who','adult_male','embark_town','alone']]

In [20]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [21]:
x.head()

,pclass,sex,sibsp,parch,embarked,class,who,adult_male,embark_town,alone
0,3,male,1,0,S,Third,man,True,Southampton,False
1,1,female,1,0,C,First,woman,False,Cherbourg,False
2,3,female,0,0,S,Third,woman,False,Southampton,True
3,1,female,1,0,S,First,woman,False,Southampton,False
4,3,male,0,0,S,Third,man,True,Southampton,True

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=15)

In [23]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(668, 10)
(223, 10)
(668,)
(223,)

In [24]:
data['class'].unique()

array(['Third', 'First', 'Second'], dtype=object)

## Dealing with categorical data

In [25]:
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer
transformer=ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['Third','Second','First']]),['class']),
    ('tnf2',OneHotEncoder(sparse=False,drop='first'),['sex','who','adult_male','embark_town','alone'])
],remainder='passthrough')

In [26]:
x_train.head()

,pclass,sex,sibsp,parch,embarked,class,who,adult_male,embark_town,alone
321,3,male,0,0,S,Third,man,True,Southampton,True
84,2,female,0,0,S,Second,woman,False,Southampton,True
633,1,male,0,0,S,First,man,True,Southampton,True
401,3,male,0,0,S,Third,man,True,Southampton,True
668,3,male,0,0,S,Third,man,True,Southampton,True

In [27]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 321 to 456
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       668 non-null    int64
 1   sex          668 non-null    object
 2   sibsp        668 non-null    int64
 3   parch        668 non-null    int64
 4   embarked     668 non-null    object
 5   class        668 non-null    object
 6   who          668 non-null    object
 7   adult_male   668 non-null    bool
 8   embark_town  668 non-null    object
 9   alone        668 non-null    bool
dtypes: bool(2), int64(3), object(5)
memory usage: 48.3+ KB

In [28]:
transformer.fit_transform(x_train)

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['method', 'str']

In [ ]:
y.head()

In [ ]:
x=