In [1]:
import numpy as np
import pandas as pd

In [2]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk import word_tokenize
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nithin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Nithin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
stop_words = set(stopwords.words('english'))

In [4]:
def extract_words(sentence):
    words = nltk.word_tokenize(sentence)
    cleaned_words = [w.lower() for w in words if w not in stop_words]
    return cleaned_words

def tokonize_sentences(sentences):
    words = []
    for sentence in sentences:
        w = extract_words(sentence)
        words.extend(w)
    words = sorted(list(set(words)))
    return words

In [5]:
def bag_of_words(sentence, words):
    sentence_words = extract_words(sentence)
    # frequency word count
    bag = np.zeros(len(words))
    
    for sw in sentence_words:
        for i, w in enumerate(words):
            if sw == w:
                bag[i] += 1
    
    return np.array(bag)

In [6]:
sentences = np.array([
    "The 2023 Indian Premier League final was played on 29 May 2023[a] at the Narendra Modi Stadium in Ahmedabad. Originally it was scheduled to be played on 28 May 2023 but start of play was postponed a day due to rain (29 May).[1]",
    "It was a Day/Night T20 match to decide the winner of the 2023 season of the Indian Premier League (IPL), an annual Twenty20 tournament in India organised by BCCI.[2] In the final Chennai Super Kings defeated Gujarat Titans by 5 wickets (By DLS method). The game was halted at the beginning of 2nd inning of CSK for more than an hour, due to loss of play final's referee Javagal Srinath gave CSK revised target of 171 which they had to chase in 15 overs. At the end Super Kings won fifth IPL title. Devon Conway got awarded with player of the match.[3][4]",
    "Titans set the record for the highest team total in an IPL final. It was the first ever rain delayed IPL final to be played on the reserve day and ran two days (29–30 May) as well as the first one to be played between the franchises who played the season's opening fixture. It was also the first time in IPL history that the winner was announced by Duckworth–Lewis–Stern method.[5]"
])

In [7]:
v = tokonize_sentences(sentences)
print(v)

["'s", '(', ')', ',', '.', '1', '15', '171', '2', '2023', '28', '29', '29–30', '2nd', '3', '4', '5', '[', ']', 'ahmedabad', 'also', 'announced', 'annual', 'at', 'awarded', 'bcci', 'beginning', 'by', 'chase', 'chennai', 'conway', 'csk', 'day', 'day/night', 'days', 'decide', 'defeated', 'delayed', 'devon', 'dls', 'duckworth–lewis–stern', 'due', 'end', 'ever', 'fifth', 'final', 'first', 'fixture', 'franchises', 'game', 'gave', 'got', 'gujarat', 'halted', 'highest', 'history', 'hour', 'in', 'india', 'indian', 'inning', 'ipl', 'it', 'javagal', 'kings', 'league', 'loss', 'match', 'may', 'method', 'modi', 'narendra', 'one', 'opening', 'organised', 'originally', 'overs', 'play', 'played', 'player', 'postponed', 'premier', 'rain', 'ran', 'record', 'referee', 'reserve', 'revised', 'scheduled', 'season', 'set', 'srinath', 'stadium', 'start', 'super', 't20', 'target', 'team', 'the', 'time', 'titans', 'title', 'total', 'tournament', 'twenty20', 'two', 'well', 'wickets', 'winner']

In [8]:
bag_of_words("The 2023 Indian Premier League final was played on 29 May 2023[a] at the Narendra Modi Stadium,",v)

array([0., 0., 0., 1., 0., 0., 0., 0., 0., 2., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0.])

# CountVectorizer

In [35]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
sentences = np.array([
    "The 2023 Indian Premier League final was played on 29 May 2023[a] at the Narendra Modi Stadium in Ahmedabad. Originally it was scheduled to be played on 28 May 2023 but start of play was postponed a day due to rain (29 May).[1]",
    "It was a Day/Night T20 match to decide the winner of the 2023 season of the Indian Premier League (IPL), an annual Twenty20 tournament in India organised by BCCI.[2] In the final Chennai Super Kings defeated Gujarat Titans by 5 wickets (By DLS method). The game was halted at the beginning of 2nd inning of CSK for more than an hour, due to loss of play final's referee Javagal Srinath gave CSK revised target of 171 which they had to chase in 15 overs. At the end Super Kings won fifth IPL title. Devon Conway got awarded with player of the match.[3][4]",
    "Titans set the record for the highest team total in an IPL final. It was the first ever rain delayed IPL final to be played on the reserve day and ran two days (29–30 May) as well as the first one to be played between the franchises who played the season's opening fixture. It was also the first time in IPL history that the winner was announced by Duckworth–Lewis–Stern method.[5]"
])

In [37]:
obj = CountVectorizer(stop_words= stop_words)
bow = obj.fit_transform(sentences)

In [38]:
bow.toarray()

array([[0, 0, 3, 1, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 3, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 2, 0, 1,
        1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1, 0, 1, 1,
        0, 1, 1, 0, 1, 1, 0, 1, 2, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
        1, 2, 1, 2, 1, 0, 1, 2, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
        1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 2, 1, 1, 0, 0, 1, 1, 0,
        1, 1, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 0, 0, 1, 0, 0, 1, 0, 2, 3, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 3, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 3, 0, 0,
        0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
        0, 0, 1, 1, 0, 1]], dtype=int64)

In [39]:
feature_name = obj.get_feature_names_out()

In [40]:
print(feature_name)

['15' '171' '2023' '28' '29' '2nd' '30' 'ahmedabad' 'also' 'announced'
 'annual' 'awarded' 'bcci' 'beginning' 'chase' 'chennai' 'conway' 'csk'
 'day' 'days' 'decide' 'defeated' 'delayed' 'devon' 'dls' 'duckworth'
 'due' 'end' 'ever' 'fifth' 'final' 'first' 'fixture' 'franchises' 'game'
 'gave' 'got' 'gujarat' 'halted' 'highest' 'history' 'hour' 'india'
 'indian' 'inning' 'ipl' 'javagal' 'kings' 'league' 'lewis' 'loss' 'match'
 'may' 'method' 'modi' 'narendra' 'night' 'one' 'opening' 'organised'
 'originally' 'overs' 'play' 'played' 'player' 'postponed' 'premier'
 'rain' 'ran' 'record' 'referee' 'reserve' 'revised' 'scheduled' 'season'
 'set' 'srinath' 'stadium' 'start' 'stern' 'super' 't20' 'target' 'team'
 'time' 'titans' 'title' 'total' 'tournament' 'twenty20' 'two' 'well'
 'wickets' 'winner']

In [41]:
pd.DataFrame(bow.toarray(),columns=feature_name)

,15,171,2023,28,29,2nd,30,ahmedabad,also,announced,...,time,titans,title,total,tournament,twenty20,two,well,wickets,winner
0,0,0,3,1,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,1,0,0,0,0,...,0,1,1,0,1,1,0,0,1,1
2,0,0,0,0,1,0,1,0,1,1,...,1,1,0,1,0,0,1,1,0,1

In [42]:
sentences = np.array([
    "The sun is shining.",
    "I love eating pizza.",
    "She sings beautifully."
])

In [43]:
bow1 = obj.fit_transform(sentences)

In [44]:
f_names = obj.get_feature_names_out()

In [45]:
f_names

array(['beautifully', 'eating', 'love', 'pizza', 'shining', 'sings',
       'sun'], dtype=object)

In [46]:
pd.DataFrame(bow1.toarray(),columns=f_names)

   beautifully  eating  love  pizza  shining  sings  sun
0            0       0     0      0        1      0    1
1            0       1     1      1        0      0    0
2            1       0     0      0        0      1    0